* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

html {
    direction: rtl;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    align-items: first baseline;
    color: black;
    padding: 10px 15px;
    margin: 0px 10px;
    gap: 20px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon,
.link_text {
    font-size: 20px;
}

.footer,
.text {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: Courier;
}