.Main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.profile-sidebar {
  flex: 1;
  max-width: 500px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.profile-card {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}
.profile-card h2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
}
.profile-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  text-align: right;
}

.profile-role {
  font-size: 14px;
  color: #6c757d;
}

.profile-menu ul {
  list-style-type: none;
  padding: 0;
}

.profile-menu li {
  margin: 10px 0;
}

.profile-menu button {
  width: 100%;
  text-align: right;
  padding: 10px;
  background: none;
  border: none;
  color: #007bff;
  text-decoration: none;
  font-size: 1.1em;
}

.profile-menu button:hover {
  text-decoration: underline;
  background-color: #e9ecef;
  border-radius: 5px;
}

.profile-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
