.signup_container {
	display:flex ;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .signup_form_container {
	display:flow-root;
	max-width: 800px;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  .left {
	flex: 1;
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
  }
  
  .left h1 {
	color: #333;
  }
  
  .right {
	flex: 2;
	padding: 20px;
  }
  
  .form_container {
	max-width: 400px;
	margin: auto;
  }
  
  .form_container h1 {
	color: #3bb19b;
  }
  
  .input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
  }
  
  .white_btn {
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
  }
  
  .green_btn {
	background-color: #3bb19b;
	color: #fff;
	padding: 10px;
	cursor: pointer;
  }
  
  .error_msg {
	color: #ff0000;
	margin-top: 10px;
  }