/* עיצוב כללי ובסיסי לקונטיינר הראשי */
.main-container {
	top: 20px;
	position: fixed;
	right: 20px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 8px;
	text-align: right;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 410px;
	z-index: 99999;
  }
  
  .ProductSearchContainer {
	width: 100%;
	border: 1px solid #000000;
  }
  .listContainer{
	width: 740px;
	border: 1px solid #000000;
  }
  /* עיצוב טקסטאריה וכפתור להזנת מידע */
.listContainer .products-input textarea {
	width: 100%;
	margin-top: 20px;
	margin-left: 20px;
  }
.listContainer .products-input button {
	background-color:  #16a9d6;
	font-size: 16px;
	transition: background-color 0.2s ease;
	color: #000;
	width: 100%;
  }
  
  .listContainer .products-input button:hover {
	background-color: #ff0000;
	transform: scale(1.005);
  }
.custom-carousel-caption {
	color: #000000; /* צבע הטקסט */
	padding: 10px;
	border-radius: 5px;
  }
  
  .custom-carousel-caption h3 {
	color: #ffcc00; /* צבע הכותרת */
  }
  
  .custom-carousel-caption p {
	color: #00ffcc; /* צבע הפסקה */
  }
  
  .image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px; /* גובה הקרוסלה */
  }
  
  .image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain; /* שמירה על יחס הממדים של התמונה */
  }
  
  .bordered-image {
	border: 5px solid #16a9d6; /* צבע הגבול */
	border-radius: 10px; /* פינות מעוגלות */
  }
  
  /* שינוי צבע החצים בקרוסלה */
  .custom-carousel-control {
	background-color: #ed1c24; /* צבע החץ */
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
  }
  
  /* הזזת הקרוסלה ימינה */
  .carousel-container {
	position: relative;
	width: 540px;
	border: 1px solid #000000;
  }
  
  .custom-carousel-control-next {
	right: -10px; /* הזזת החץ הבא ימינה */
  }
  
  .custom-carousel-control-prev {
	left: -10px; /* הזזת החץ הקודם ימינה */
  }
  .categories-column {
    display: flex;
    justify-content: flex-end; /* מיישר את ה-Categories לימינה */
	border: 1px solid #000000;
	width: 540px;
}
.pricechartcontainer{
	margin-right: 0px;
	width: 740px;
	border: 1px solid #000000;
}
.price-chart-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%; /* Ensure container doesn't overflow */
}

.chart-wrapper {
    position: relative;
    height: 400px; /* Set a fixed height */
    width: 100%; /* Make the chart take full width */
}

@media (max-width: 768px) {
    .chart-wrapper {
        height: 300px; /* Adjust height for smaller screens */
    }
}
