/* עיצוב כללי ובסיסי לקונטיינר הראשי */
.main-container {
	top: 20px;
	position: fixed;
	right: 20px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 8px;
	text-align: right;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 410px;
	z-index: 99999;
}
  
.ProductSearchContainer {
	width: 100%;
}
  
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
  
.carousel-container {
	flex: 1;
	border-radius: 10px;
	height: auto;
	position:static;
	border: 1px solid #000000;
	padding-bottom: 20px;
	margin-right: 20px;
}
  
.categories-column {
	text-align: center;
	transition: transform 0.2s ease-in-out;
	width: 600px;
	height: 300px;
	border-radius: 10px;
	margin-left: 0px;
}
  
.custom-button {
	background-color: #ed1c24 !important;
	border-color: #ed1c24 !important;
	color: white !important;
}
  
.custom-button:hover {
	background-color: #d0171b !important;
	border-color: #d0171b !important;
}
  
.category-link {
	text-decoration: none;
	color: inherit;
}
  
@media (max-width: 768px) {
	.categories-column {
	  width: 100%;
	  margin-left: 0;
	  border-radius: 8px;
	}
}
  
.listContainer {
	width: 95%;
	border: 1px solid #000000;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffffff;
	margin-right: 20px;
	margin-top: 10px;
}
  
.listContainer .products-input textarea {
	width: 100%;
	margin-top: 20px;
	margin-left: 20px;
}
  
.listContainer .products-input button {
	background-color: #16a9d6;
	font-size: 16px;
	transition: background-color 0.2s ease;
	color: #ffffff;
	width: 100%;
	margin-top: 10px;
}
  
.listContainer .products-input button:hover {
	background-color: #ff0000;
	transform: scale(1.005);
}
  
.search-button, .save-button {
	width: 100%;
	margin-top: 10px;
}
  
.search-button {
	background-color: #16a9d6;
	width: 140px;
	margin-left: 10px;
}
  
.save-button {
	background-color: #ed1c24;
	color: #ffffff;
	width: 140px;
}
  
.highlighted-title {
	color: #000000; /* צבע טקסט */
	background-color:#a5c8ec; /* צבע רקע */
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}
  
.chart-wrapper {
	position: relative;
	height:auto;
	width: 100%;
}
  
@media (max-width: 768px) {
	.ProductSearchContainer,
	.carousel-container,
	.listContainer {
	  width: 100%;
	  margin-bottom: 20px;
	}
	.chart-wrapper {
	  height: 300px;
	}
}

/* Animation styles */
@keyframes typing {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes blink-caret {
	50% { border-color: transparent; }
}

.animated-title {
	font-size: 1em;
	font-weight: bold;
	border-right: 0.1em solid;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	color: #16a9d6;
	animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
/* Animation styles */
@keyframes move-title {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
  }
  
  .moving-title-container {
	overflow: hidden;
	white-space: nowrap;
  }
  
  .moving-title {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	color: #d63316;
	animation: move-title 10s linear infinite;
  }
  