.container {
  display: flex;
}

.sidebar {
  position: fixed;
  /* קובע את ה-Sidebar במקום קבוע */
  top: 0;
  left: 0;
  height: 100vh;
  /* מלא את כל גובה המסך */
  overflow-y: auto;
  /* מאפשר גלילה ב-Sidebar אם יש יותר תוכן מהגובה */
  transition: width 0.3s ease;
  /* הוסף אנימציה חלקה לשינוי הרוחב */
}

.top_section,
.bars,
.logo,
.link,
.icon,
.link_text {
  /* ניתן להוסיף כאן עיצובים נוספים אם יש צורך */
}

/* ניתן להוסיף כאן עיצובים נוספים לאלמנטים ספציפיים בפנים */
.content {
  transition: margin-left 0.3s ease;
}

.content.open {
  margin-left: 400px;
  /* או כל רוחב שה-Sidebar פתוח */
}

.content.closed {
  margin-left: 50px;
  /* או כל רוחב שה-Sidebar סגור */
}

.sidebar a {
  text-decoration: none;
}