.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
  gap: 20px; /* Adjust the space between the cards */
  padding: 20px; /* Adds some padding around the grid */
  justify-content: center; /* Center-aligns the items if they don't fill the full width */
  max-width: 600px; /* Maximum width of the container */
  
  
}

.product-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px; /* Maintains spacing between the cards */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Card will fill the column width */
  box-sizing: border-box; /* Ensures padding is included in the width */
  
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 4px;
}

.product-info h5 {
  margin: 0;
  color: #333;
}

.product-info p {
  margin: 5px 0 0;
  color: #666;
}
